/* You can add global styles to this file, and also import other style files */

.full-height {min-height: 100vh;}
.no-padding {padding: 0 !important;}
@media (max-width: 767px) {
  .full-height {min-height: auto;}
}
